@model OrderViewModel

@{
    ViewBag.Title = "Order Create";
}

<div>
    <h2>Products</h2>
    <div class="row">
        @foreach(Product product in @Model.Products)
        {
            <div class="col-md-4 mb-5">
                <form asp-action="AddItem" method="post">
                    <div class="card">
                        <img src="@Url.Content("~/images/" + product?.ImageUrl)" class="card-img-top fixed-img-height" alt="@product.Description" />
                        <div class="card-body">
                            @product.Name - @product.Price.ToString("C")
                            <input type="hidden" value="@product.ProductId" name="prodId" />
                            <input type="number" name="prodQty" class="form-control my-2" />
                            <button type="submit" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
