@model IEnumerable<Product>

@{
    ViewBag.Title = "Restaurant Products";
}

@functions{
    string GetDeleteModalId(Product prod)
    {
        return "#deleteModal" + prod.ProductId;
    }

    string GetModalId(Product prod)
    {
        return "deleteModal" + prod.ProductId;
    }
}

<h3 class="fw-bold mb-3">Restaurant Menu Items</h3>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary mb-3">New Item</a>
<div class="row">
    @foreach(Product prod in Model)
    {
        <div class="col-md-4 mb-5">
            <form asp-action="Delete" asp-controller="Product" method="post">
                <input type="hidden" name="id" value="@prod.ProductId" />
                <div class="card" style="width:18rem;">
                    <img src="@Url.Content("~/images/" + prod.ImageUrl)" class="card-img-top fixed-img-height" alt="@prod.Name" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">@prod.Name</h5>
                        <p class="card-text">@prod.Description</p>
                        <p>@prod.Price.ToString("C")</p>
                        <p>Quantity in stock : @prod.Stock</p>
                        <a class="btn btn-sm btn-secondary" asp-controller="Product" asp-action="AddEdit" asp-route-id="@prod.ProductId">
                            <i class="bi bi-pencil-fill me-2"></i>
                            Edit
                        </a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(prod)" >
                            <i class="bi bi-trash me-2"></i>
                            Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="@GetModalId(prod)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure want to delete @prod.Name ? </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</div>